#  _______  __  .___________.     ______   ______   .__   __.  _______  __    _______    .___________. _______ .___  ___. .______    __           ___      .___________. _______ 
# /  _____||  | |           |    /      | /  __  \  |  \ |  | |   ____||  |  /  _____|   |           ||   ____||   \/   | |   _  \  |  |         /   \     |           ||   ____|
#|  |  __  |  | `---|  |----`   |  ,----'|  |  |  | |   \|  | |  |__   |  | |  |  __     `---|  |----`|  |__   |  \  /  | |  |_)  | |  |        /  ^  \    `---|  |----`|  |__   
#|  | |_ | |  |     |  |        |  |     |  |  |  | |  . `  | |   __|  |  | |  | |_ |        |  |     |   __|  |  |\/|  | |   ___/  |  |       /  /_\  \       |  |     |   __|  
#|  |__| | |  |     |  |        |  `----.|  `--'  | |  |\   | |  |     |  | |  |__| |        |  |     |  |____ |  |  |  | |  |      |  `----. /  _____  \      |  |     |  |____ 
# \______| |__|     |__|         \______| \______/  |__| \__| |__|     |__|  \______|        |__|     |_______||__|  |__| | _|      |_______|/__/     \__\     |__|     |_______|
#                                                                                                                                                                                

#######################################################
# Rename this file to ".gitconfig" and copy it to 
# M:\.gitconfig
# This file is your user-specific (global) Git config.
#######################################################

# Please enter your name in the following format
# Example:
#	name = Geisenhofer, Markus (TDCNB)
#	email = markus.geisenhofer@ps.rolls-royce.com
[user]
	name = <Völk>, <Simon> (<CLD>)
	email = <Simon.voelk@ps.rolls-royce.com>

[credential]
	helper = wincred

[core]
	# Sets Notepad++ as standard editor for Git CMD and Git Bash
	editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin

[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false

[push]
	recurseSubmodules = check
	autoSetupRemote = true

# Proxy settings for accessing Azure DevOps Services https://mtuds.visualstudio.com/
[http]
	proxy = http://webgateway.emea.mtufn.com:9090
	sslBackend = schannel
[https]
	proxy = http://webgateway.emea.mtufn.com:9090

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

# Set standard merge tool
[merge]
	tool = kdiff3
# Open KDiff3 (Gui) as merge tool with "git mergetool --tool kdiff3 <file name>"
# You might register more diff and merge tools
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
	
# Set standard diff tool
[diff]
	tool = kdiff3
# Open KDiff3 (Gui) as diff tool with "git difftool --tool kdiff3 <file name>"
# You might register more diff and merge tools
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false